.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* About Section */
#about {
  padding: 50px 0px 0px 0px;
}

#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding: 0.5rem;
}

#about .about-text ul {
  margin-bottom: 6px;
  margin-left: 10px;
  list-style-type: square;
  padding: 2rem;
  font-size: 1.3rem;
}

#about img {
  width: 100%;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}

/* subjects */

.sub-name {
  text-align: center;
}

.subjects {
  background-image: linear-gradient(
    to right,
    rgb(46, 94, 224),
    rgb(223, 223, 248)
  );
}
.subjects h2 {
  text-align: center;
  padding: 50px 0px 50px 0px;
}
.sub-list {
  padding-bottom: 5rem;
}

/* contact */

.contact {
  background-image: linear-gradient(
    to left,
    rgb(46, 94, 224),
    rgb(223, 223, 248)
  );
}

/* footer */

footer {
  margin: 0;
  padding: 0.75rem;
  width: 100%;
  height: 9vh;
  background-color: rgb(2, 47, 248);
  color: white;
  text-align: center;
}
